@font-face {
    font-family: 'Epilogue';
    src: url(fonts/epilogue-v17-latin-700.woff2);
    font-weight: 700;
}

@font-face {
    font-family: 'Epilogue';
    src: url(fonts/epilogue-v17-latin-500.woff2);
    font-weight: 500;
}

:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Epilogue';
    background-color: #f5f5f5;
    min-height: 100vh;
    padding: 1.5rem;
}

img {
    display: block;
    max-width: 100%;
}

a {
    font-family: 'Epilogue';
    font-weight: 500;
    text-decoration: none;
    color: var(--MediumGray);

    &:hover {
        color: #000;
    }
}

button {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--MediumGray);
    font-family: 'Epilogue';
    font-weight: 500;
    padding: 0;
    display: flex;
    gap: 0.325rem;

    &:hover {
        color: #000;
    }

}

.hero {
    max-width: 1360px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    margin-inline: auto;
}

.heroooss {
    width: 100%;
    display: flex;
    gap: 40px;
}

.mobile-hero {
    display: grid;
    place-items: center;

    a {
        display: block;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;

    background-color: rgba(0, 0, 0, 0.72);
    display: none;
}

.overlay.show{
    display: block;
}

.sidebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navDiv {
    position: relative;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    top: 40px;
    left: -55px;

    display: none;
    background: #ffffff;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.1);

    >div{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.dropdown a {
    padding-block: 0.3rem;
    font-weight: 700;
}

.dropdown img {
    width: 15px;
    height: 15px;
}

.dropdown2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 40px;
    left: 110px;
    background: #ffffff;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.1);

    display: none;
}

.dropdown2 a {
    font-weight: 700;
}

/* .todolist {
    padding: 2px;
} */

.Registera {
    border: 2px solid rgba(0, 0, 0, 0.417);
    padding: 7px;
    border-radius: 10px;
}

.login-register {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a:first-of-type {
        padding-block: 7px;
    }
}



.wrapper {
    max-width: 1144px;
    margin-inline: auto;
    display: flex;
    gap: 50px;
}

.text-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.img-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

h1 {

    font-size: clamp(1.7rem, 0.536rem + 4.9009vw, 5.1rem);
}

.text-area p {
    font-size: clamp(0.6rem, 0.3261rem + 1.1532vw, 1.4rem);
    line-height: 2rem;
    color: #8b8b8b;
    font-weight: 500;

}

.text-area a {
    max-width: 120px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 1px solid black;
    border-radius: 9px;
    color: #fff;
    background: #000;

    &:hover {
        background: none;
        color: #000;
    }
}

.grid-img-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

.open-menu {
    display: none;
}

.close-menu {
    display: none;
}




@media (width < 700px) {
    .hero {
        margin-bottom: 15px;
    }

    .wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }

    h1 {
        font-size: 2.8rem;
    }

    .text-area p {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .text-area a {
        margin-bottom: 20px;
        margin-inline: auto;
        width: 200px;
    }

    .grid-img-area {
        margin-inline: auto;
    }

    .img-area {
        margin-inline: auto;
        display: none;
    }

    .background-img {
        background-image: url(images/image-hero-mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        max-width: 100%;

    }

    .open-menu {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 200%;
        width: 65%;
        z-index: 3;

        background-color: white;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        padding: 2.225rem 1rem;

        flex-direction: column;
        justify-content: flex-start;

        transform: translateX(100%);
        transition: 200ms;
    }

    .nav-menu {
        display: grid;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .close-menu {
        display: block;
        align-self: flex-end;
        margin-block-end: 3rem;
        cursor: pointer;
    }

    .dropdown {
        position: unset;
        margin-inline-start: 1.5rem;
        width: calc(100% - 1.5rem);
    }

    .dropdown2 {
        position: unset;
        margin-inline-start: 1.5rem;
        width: calc(100% - 1.5rem);
    }

    .login-register {
        flex-direction: column;
        margin-block-start: 2.5rem;

        a {
            width: 100%;
            text-align: center;
        }
    }

}

.show {
    display: flex;
}

#up2 {
    display: none;
}

#up {
    display: none;
}